<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>API_KEY</key>
	<string>AIzaSyAiZovxmkABK732goU0fGnL9Gd9SYFQhr0</string>
	<key>GCM_SENDER_ID</key>
	<string>522389590308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>fitgenius-b453</string>
	<key>STORAGE_BUCKET</key>
	<string>fitgenius-b453.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:522389590308:ios:f3dab1c92fd3f3ff9923b1</string>
	<key>BUNDLE_ID</key>
	<string>FitGenius.SG3</string>
</dict>
</plist>
